body{
    margin: 0;
}
header{
   padding: 15px 0;
}
.container{

width: 1400px;

margin: auto;

display: flex;

flex-wrap: wrap;

align-items: center;
}
.logo{

flex-basis: 20%;

max-width: 20%;
}
.logo img{

}
nav{
    flex-basis: 80%;
    max-width: 80%;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px;
    display: block;
}

nav ul li a:hover{
	background:#ff214f;
	color: #fff;
}

h1{
    font-size: 65px;
    color: #fff;
    background: #ff214f;
    max-width: 650px;
    margin: auto;
    padding: 30px 0;
    text-align: center;
}

section{
	padding-top: 300px;
	padding-bottom: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: top;
}
.section-one{
	background-image: url(../images/pic1.jpg);
}
.section-two{
	background-image: url(../images/pic2.jpg);
}

.section-three{
	background-image: url(../images/pic3.jpg);
}

.section-four{
	background-image: url(../images/pic4.jpg);
}

.section-five{
	background-image: url(../images/pic5.jpg);
}
